body{  display:grid;background-color: white; height:100%; width:100%; background-color:#E8E8E8;}


ul,li{display:inline; ; margin-right:6em; item-align:center;}


.pic{ display:block; width:50%; margin-right:auto;
 margin-left:auto; margin-top:30px; border-radius:50px;margin-bottom:3em;}

img{ background-color:gold; display:block; width:50%; margin-right:auto;
 margin-left:auto; height:200px;}

.name{ color:red; font-family:Arial; margin-top:30px;text-align:center;}

.quote{ color:black; margin-top:10px; font-size:20px; text-align:center;  
 font-family:Monospace;}

h2{ color:darkgray; margin-top:30px; text-align:center;}

a{text-decoration:none;}

.top{ background-color:white; }

.main{ background-color:lavender; }

footer{ position:absolute; background-color:darkgrey; width:100%; text-align:center; }

@media screen and (max-width:480px){ html{ font-size: 16px; } body{ width: 100%; height: auto; }
 footer{ position:absolute; background-color:darkgrey; width:100%; text-align:center; bottom:0px; right:0px; left:0px;} ul,li{display:inline; ; margin-right:2em; }}

@media screen and (min-width:680px){ html{ font-size: 20px; } body{ width: 100%; height: auto;}
footer{ position:fixed; background-color:darkgrey; width:100%; text-align:center; bottom:0px; right:0px; left:0px;} }


